@font-face {
    font-family: "OpenSans";
    font-style: normal;
    font-weight: 100 900;
    font-display: optional;
    src: url("/Open_Sans/OpenSans-VariableFont_wdth,wght.ttf")
        format("truetype");
}

@font-face {
    font-family: "OpenSans";
    font-style: italic;
    font-weight: 100 900;
    font-display: optional;
    src: url("/Open_Sans/OpenSans-Italic-VariableFont_wdth,wght.ttf")
        format("truetype");
}

@tailwind base;
@layer base {
    h1 {
        @apply text-4xl;
    }

    h2 {
        @apply text-3xl text-pop;
    }

    h3 {
        @apply text-2xl;
    }

    h4 {
        @apply text-xl;
    }

    a {
        @apply font-light underline underline-offset-2 hover:no-underline;
    }

    p {
        @apply py-2 leading-relaxed;
    }

    ul,
    ol {
        @apply ml-4 list-inside list-disc;
    }

    pre {
        @apply my-4 w-full overflow-auto border p-8;
    }
}
@tailwind components;
@tailwind utilities;
