---
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="about">
  <Header
    mainText="Hi I'm Tim."
    secondaryText="Software Developer | Frontend + Fullstack | Javascript, HTML5, CSS3, Node.JS"
  />
  <p class="text-justify">
    I&apos;m a software developer using modern Javascript, HTML, and CSS web
    technologies (with experience with Ruby and Ruby on Rails and a bit
    exploring with Lua, Rust, C/C++). I care about accessibility, good UX, and
    responsive designs.
  </p>
  <p class="text-justify">
    I&apos;m also a generalist, musician, and a team player who enjoys
    improvisation, learning, and uncovering hidden assumptions and expectations
    so everyone can be on the same page.
  </p>
  <p class="text-justify">
    Using my experience as a luthier and instrument designer I treat my process
    of creating software as the building of an instrument: making something that
    is both simple and easily discoverable yet rewards deeper interaction and
    study. In my free time I enjoy coding musical controllers and interfaces for
    both the browser and various hardware devices.
  </p>
  <p>Love to chat about any of the following:</p>
  <ul>
    <li>synthesis / sound / instrument design</li>
    <li>chess</li>
    <li>skateboarding</li>
    <li>electric guitar</li>
    <li>
      carving out space and energy to live and have a sustainable career as an
      agoraphobic
    </li>
    <li>Andrei Tarkovsky films</li>
    <li>Rilke, Hesse, Nabakov, Camus, etc</li>
    <li>iterative processes and generative patterns</li>
    <li>balancing free improvisation with intentionality</li>
    <li>tea and espresso</li>
    <li>the Boston Celtics</li>
  </ul>
  <p>Explore:</p>
  <ul>
    <li>
      <a
        href="https://www.linkedin.com/in/timothy-g-taylor"
        class="font-thin italic"
      >
        LinkedIn</a
      >
    </li>
    <li>
      <a href="https://github.com/timothy-taylor" class="font-thin italic">
        Github</a
      >
    </li>
    <li>
      <a href="https://tgtmusic.bandcamp.com/" class="font-thin italic">
        Bandcamp</a
      >
    </li>
    <li>
      <a
        href="https://open.spotify.com/artist/5pJDAJfpQWFQJVOB16Gx70?si=XUQiPH22QduDUyMmuIjV6g"
        class="font-thin italic"
      >
        Spotify
      </a>
    </li>
  </ul>
</Layout>
