---
import { Image } from "astro:assets";
import AboutLayout from "../layouts/AboutLayout.astro";
import AboutContent from "../components/about.md";
import photo from "../lib/images/photo2.jpeg";
---

<AboutLayout title="about">
    <div class="max-w-screen-sm flex-1 px-4 pt-12 lg:px-12 lg:pb-12">
        <Image
            class="shadow-[15px_15px_#8A938C] dark:opacity-70 lg:shadow-[15px_-15px_#8A938C]"
            src={photo}
            alt=""
        />
    </div>
    <div class="max-w-screen-sm flex-1 px-4 py-8 lg:px-12">
        <h2 class="rotate-1 pt-8 text-pop">Hi, I'm Tim.</h2>
        <h3 class="max-w-md">
            Software Developer | Frontend + Fullstack | JS, HTML, CSS, NodeJS
        </h3>
        <AboutContent />
    </div>
</AboutLayout>
