---
import { Picture } from "@astrojs/image/components";
import Header from "../components/Header.astro";
import AboutLayout from "../layouts/AboutLayout.astro";
import AboutContent from "../components/about.md";
---

<AboutLayout title="about">
  <div class="px-12 pt-12 flex-1 lg:pb-12">
    <Picture
      class="opacity-70 lg:shadow-[15px_-15px_#8A938C]"
      src="/photo2.jpeg"
      alt=""
      sizes="928px"
      widths={[618, 928]}
      aspectRatio="3:4"
    />
  </div>
  <div class="px-12 py-8 flex-1">
    <Header
      mainText="Hi I'm Tim."
      secondaryText="Software Developer | Frontend + Fullstack | Javascript, HTML5, CSS3, Node.JS"
    />
    <AboutContent />
  </div>
</AboutLayout>
