---
import { supabase } from "../lib/supabase-client";
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";

let { data: posts } = await supabase
  .from("posts")
  .select("id, title")
  .order("id", { ascending: false });
---

<Layout title="bvwtgt">
  <Header
    mainText="Hi and welcome."
    secondaryText="This site houses writings and projects of Tim Taylor as he explores technology, sound, process, and design."
  />
  <h4 class="pt-8 pb-2">Posts:</h4>
  <ul class="list-none m-0">
    {
      (posts! ?? []).map((e: { id: string; title: string }) => (
        <li class="p-0 -indent-4 pl-4 pb-3 max-w-sm">
          <a href={`/posts/${e.id}`} class="block text-lg dark:text-[#D5D9DA]">
            {e.title}
          </a>
        </li>
      ))
    }
  </ul>
</Layout>
