---
export interface Props {
  mainText: string;
  secondaryText: string;
}

const { mainText, secondaryText } = Astro.props;
---

<h2 class="rotate-1 pt-8">{mainText}</h2>
<h3 class="max-w-md dark:text-[#D5D9DA]">{secondaryText}</h3>
