---
const links = [
  { text: "Writing", path: "/" },
  { text: "About", path: "/about" },
];

const isActiveStyle = (routePath: string, linkPath: string) =>
  routePath === linkPath ? "pr-4 lowercase font-bold" : "pr-4 lowercase";
---

<nav class="absolute top-1 right-4 md:right-1/4">
  <ul class="list-none m-0">
    {
      links.map((link) => (
        <li class="inline p-0">
          <a
            href={link.path}
            class={isActiveStyle(Astro.url.pathname, link.path)}
          >
            {link.text}
          </a>
        </li>
      ))
    }
  </ul>
</nav>
